<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace">
  <targets>
    <target name="Default" type="File" fileName="ExceptionLog.txt"
            layout="${date} ${message} ${onexception:inner=${exception:format=toString}}"/>
    <target name="Trace" type="File" fileName="TraceLog.txt"
            layout="${longdate}::${logger}::${message}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="Trace" />
    <logger name="*" minlevel="Error" writeTo="Default" />
  </rules>
</nlog>